# Exploratory Data Analysis

"Maven Fuzzy Factory" is the name of a fictitious E-Commerce website selling stuffed animals. In this notebook I'll conduct an exploration of the files to profile the data, discover issues with the it, and solve them. Although the data is synthetic it can be useful for demonstrating my skills as a data analyst.

## Importing required libraries

In [4]:
import pandas as pd

## Reading the data dictionary

The dataset comes with a data dictionary detailing the relationships between the different tables.

In [24]:
data_dict = pd.read_csv('raw/maven_fuzzy_factory_data_dictionary.csv')

How many tables does the dictionary describe?

In [25]:
list(data_dict['Table'].unique())

['orders',
 'order_items',
 'order_item_refunds',
 'products',
 'website_sessions',
 'website_pageviews']

The data dictionary packaged with the database seems to cover all (6) available files, let's explore them one by one.

What are the characteristics of the `orders` table?

In [26]:
data_dict[data_dict['Table'] == 'orders']

,Table,Field,Description
0,orders,order_id,Unique identifier for each order (PK)
1,orders,created_at,Timestamp when the order was placed
2,orders,website_session_id,Unique identifier for the website session (FK)
3,orders,user_id,Unique identifier for the user (FK)
4,orders,primary_product_id,Unique identifier for the primary product in t...
5,orders,items_purchased,Number of items in the order
6,orders,price_usd,Total price for the items in the order
7,orders,cogs_usd,Cost of goods sold for the items in the order

What are the characteristics of the `order_items` table?

In [27]:
data_dict[data_dict['Table'] == 'order_items']

,Table,Field,Description
8,order_items,order_item_id,Unique identifier for each order item (PK)
9,order_items,created_at,Timestamp when the order was placed
10,order_items,order_id,Unique identifier for the order the item belon...
11,order_items,product_id,Unique identifier for the product (FK)
12,order_items,is_primary_item,Binary flag with a value of 1 if it's the prim...
13,order_items,price_usd,Price of the product
14,order_items,cogs_usd,Cost of goods sold of the product

What are the characteristics of the `order_item_refunds` table?

In [28]:
data_dict[data_dict['Table'] == 'order_item_refunds']

,Table,Field,Description
15,order_item_refunds,order_item_refund_id,Unique identifier for each refund (PK)
16,order_item_refunds,created_at,Timestamp when the refund was issued
17,order_item_refunds,order_item_id,Unique identifier for the order item that was ...
18,order_item_refunds,order_id,Unique identifier for the order the refunded i...
19,order_item_refunds,refund_amount_usd,Refund amount